/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /*background: linear-gradient(to right, #ff9966, #ff5e62), url("background.png");*/
    background: #F2E3DB;
    color: #fdfbfb;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    background-blend-mode: overlay;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background: rgba(0, 0, 0, 0.8);*/
    padding: 10px 20px;
    
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: rgb(255, 102, 0);
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo img {
    width: 50px;
    margin-right: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff5100;
}

.background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url('donatebg.png');
}
/* Donate Form */
.container {
    width: 50%;
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background: rgba(14, 60, 2, 0.767);
    border-radius: 10px;
}

.container h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.donate-btn {
    width: 100%;
    background: #ffb700;
    border: none;
    padding: 10px;
    font-size: 18px;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.donate-btn:hover {
    background: #ff9800;
}

.footer {
    background: #263A29;
    color: #F2E3DB;
    text-align: center;
    padding: 20px;
}